# Default ignored files
.venv
*.log
static/out/*
.idea
*.pyc
*/__pycache__/*
*/__pycache__/
*/.DS_Store
*/.git/*
*/.git/
*/.hg/*
*/.hg/
*/.svn/*
*/.svn/
*/.tox/*
*/.tox/
*/.env/*
*/.env/
*/.venv/*
*/.venv/
*/.mypy_cache/*
*/.mypy_cache/
*/.pytest_cache/*
*/.pytest_cache/
*/.coverage/*
*/.coverage/
*/.cache/*
*/.cache/
*/.idea/*
*/.idea/
*/.vscode/*
*/.vscode/
*/.ipynb_checkpoints/*
*/.ipynb_checkpoints/